<!DOCTYPE html>
<html>
    <head>
        <title>Movie Reviews</title>
    </head>
    <body>
        <h1>The Florida Project</h1>
        <p>A fly-on-the-wall film on an 8 year old's life whose home is at Magic Castle Motel.</p>
    </body>
</html>
